.body{
    padding: left 10% ;
    padding-right:10% ;
}
.tabla1{
    margin: 50px; ;
    padding: right 50px; 
}
.guardar{
   justify-content: right;

}
@media screen and (max-width: 650px) {
    table {
      display: block;
      overflow-x: auto;
    }
}